*.exe
*~

# intellij projects
.idea/
*.iml

# idk what this is for
out/

# haskell stack
.stack-work

# netbeans and java
nbproject/private/
build/

# swift
.build/
cmake-build-debug/

# scala
target/
