*.exe
*~

# intellij projects
.idea/
*.iml

# sbt/maven ... idk really
out/

# haskell stack
.stack-work

# netbeans and java
nbproject/private/
build/

# swift
.build/
cmake-build-debug/
/2017-W26/gavin/TalkingClock/nbproject/private/